html, body, .viewport {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}


body > * {
  font-size: 1.6rem;
}